@page "/"
@namespace LootLoOnlineBlazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
@inject LootLoOnline.Business.Services.AppStateService appState

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="verify-admitad" content="dfe61b8b27" />

    <title>@appState.pageTitle LootLo Online</title>
    <base href="~/" />
    <link rel="shortcut icon" href="~/Images/logo.png">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    @*    <link href="css/site.css" rel="stylesheet" />*@
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="~/dist/css/GoogleFont.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">*@
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link href="~/dist/css/ionicons.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">

    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RF6X1Z4SSS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-RF6X1Z4SSS');
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NK3RMCW');</script>
    <!-- End Google Tag Manager -->
</head>
<body class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed  text-sm">
    <div class="wrapper">

        <app>
            <component type="typeof(App)" render-mode="ServerPrerendered" />
        </app>

        <div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>
    </div>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/dist/js/adminlte.js"></script>

    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- OPTIONAL SCRIPTS -->
    @*<script src="~/plugins/chart.js/Chart.min.js"></script>*@
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="~/dist/js/pages/dashboard3.js"></script>*@
    <script src="~/dist/js/lazyload.js"></script>

    <script>
        //$('.card').on("show.bs.modal", function () {
        //    $('.lazy_load').each(function () {
        //        var img = $(this);
        //        img.attr('src', img.data('src'));
        //    });
        //});

        $("img .lazy_load").lazyload();

        var $links = $('.nav-item a');
        $links.click(function () {
            $links.removeClass('active');
            $(this).addClass('active');
        });

        $(document).ready(function () {
            // this is called when the DOM is loaded, but not when the blazor component is loaded.
            window.alertFunctions.init();
        });

        window.alertFunctions = {
            init: function () {
                // this always need to be called specific from the blazor component, because $(document).ready() is not recalled
                // Now we have to call all initializations of every component that normally will have events and actions initialized on $(document).ready()
                $('#LatestOrdersTable').DataTable({
                    "pageLength": 5,
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "responsive": true,

                });
            },
            show: function (element) {
                
            },
            close: function (element) {
                
            }
        };
      
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NK3RMCW"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
</body>
</html>
