@page "/dealsoftheday"
@inject FlipkartOfferAdapter OfferAdapter
@inject NavigationManager NavManager
@inject AppStateService appState
@implements IDisposable

<ContentHeader ContentList="lstContent"></ContentHeader>

<div class="container-fluid">

    <div class="row">
        <!-- /.col-md-6 -->
        <Deals dealsOfTheDayList="@dealsOfTheDayList" />
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</div>


@code {
    List<string> lstContent = new List<string> { "Deals of the day" };
    protected List<DealsOfTheDayModel> dealsOfTheDayList;

    string filterByName = string.Empty, filterByValue = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        NavManager.TryGetQueryString<string>("filterByName", out filterByName);
        NavManager.TryGetQueryString<string>("filterByValue", out filterByValue);

        dealsOfTheDayList = await OfferAdapter.GetDealsOfTheDay(filterByName, filterByValue);

        appState.SetdealsOfTheDay(dealsOfTheDayList);
        appState.SetPageTitle("Deals of the day");
    }

    public void Dispose()
    {
        appState.OnChange -= StateHasChanged;
    }
}
