@page "/"
@implements IDisposable

<ContentHeader ContentList="lstContent"></ContentHeader>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- /.col-md-6 -->
            <Deals />
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>

@code {

    List<string> lstContent = new List<string> { "Index" };
    protected override void OnInitialized()
    {

    }

    public void Dispose()
    {

    }
}


