@page "/"
@inject AppStateService appState
@inject FlipkartOfferAdapter OfferAdapter
@implements IDisposable

<ContentHeader ContentList="lstContent"></ContentHeader>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-body">
                        <div class="input-group input-group-sm">
                            <SearchByTitle OnSearchChanged="SearchByTitle" />
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>


            <!-- /.col-md-6 -->
            <Deals dealsOfTheDayList="@dealsOfTheDayList" />
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>

@code {

    List<string> lstContent = new List<string> { "Welcome to LootLo Online." };
    private List<DealsOfTheDayModel> dealsOfTheDayList { get; set; }
    private static List<DealsOfTheDayModel> readonlyDealsOfTheDayList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        dealsOfTheDayList = await OfferAdapter.GetAllOffers();
        readonlyDealsOfTheDayList = dealsOfTheDayList;
        appState.SetdealsOfTheDay(dealsOfTheDayList);
        appState.SetPageTitle("Welcome to");
    }
    private async Task SearchByTitle(string searchTerm)
    {
        if (!string.IsNullOrEmpty(searchTerm))
        {
            dealsOfTheDayList = readonlyDealsOfTheDayList.Where(x => x.title.Contains(searchTerm) || x.name.Contains(searchTerm)).ToList();
        }
        else
        {
            dealsOfTheDayList = readonlyDealsOfTheDayList.ToList();
        }

    }
    public void Dispose()
    {

    }
}


