@page "/"
@inject AppStateService appState
@inject FlipkartOfferAdapter OfferAdapter
@implements IDisposable

<ContentHeader ContentList="lstContent"></ContentHeader>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- /.col-md-6 -->
            <Deals dealsOfTheDayList="@dealsOfTheDayList"/>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>

@code {

    List<string> lstContent = new List<string> { "Welcome to LootLo Online." };
    private List<DealsOfTheDayModel> dealsOfTheDayList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        dealsOfTheDayList = await OfferAdapter.GetDealsOfTheDay();
        appState.SetdealsOfTheDay(dealsOfTheDayList);
        appState.SetPageTitle("Welcome to");
    }

    public void Dispose()
    {

    }
}


