@page "/"
@inject AppStateService appState
@inject FlipkartOfferAdapter OfferAdapter
@inject VisitorService visitorService
@implements IDisposable
@inject IJSRuntime JSRuntime

<ContentHeader ContentList="lstContent"></ContentHeader>
<div class="content">
    <div class="container-fluid">
        @if (latestOrders != null)
        {
            <div class="row">
                <div class="col-md-8">
                    <LatestOrders latestOrders="latestOrders" />
                </div>
                <div class="col-md-4">
                    <RecentlyAddedProducts recentlyAddedDeals="recentlyAddedDeals" />
                </div>
            </div>
        }
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-body">
                        <div class="input-group input-group-sm">
                            <SearchByTitle OnSearchChanged="SearchByTitle" />
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            <Deals dealsOfTheDayList="dealsOfTheDayList" />
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>

@code {

    List<string> lstContent = new List<string> { "Welcome to LootLo Online." };
    private List<DealsOfTheDayModel> dealsOfTheDayList { get; set; }
    private static List<DealsOfTheDayModel> readonlyDealsOfTheDayList { get; set; }
    private static List<Visitor> latestOrders { get; set; }
    private List<DealsOfTheDayModel> recentlyAddedDeals { get; set; }

    protected override async Task OnInitializedAsync()
    {
        dealsOfTheDayList = await OfferAdapter.GetAllOffers();
        readonlyDealsOfTheDayList = dealsOfTheDayList;
        appState.SetdealsOfTheDay(dealsOfTheDayList);
        appState.SetPageTitle("Welcome to");

        latestOrders = visitorService.visitorRepository.GetAll().ToList();
        recentlyAddedDeals = readonlyDealsOfTheDayList.OrderByDescending(x => x.endTime.UnixTimeToDateTime()).Take(5).ToList();
    }
    private async Task SearchByTitle(string searchTerm)
    {
        if (!string.IsNullOrEmpty(searchTerm))
        {
            dealsOfTheDayList = readonlyDealsOfTheDayList.Where(x => x.title.Contains(searchTerm) || x.name.Contains(searchTerm)).ToList();
        }
        else
        {
            dealsOfTheDayList = readonlyDealsOfTheDayList.ToList();
        }

    }
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            return JSRuntime.InvokeVoidAsync("alertFunctions.init").AsTask();
        }

        return Task.CompletedTask;
    }
    public void Dispose()
    {

    }
}


