@page "/alloffers"
@inject FlipkartOfferAdapter OfferAdapter
@inject NavigationManager NavManager
@inject AppStateService appState
@implements IDisposable

<ContentHeader ContentList="lstContent"></ContentHeader>

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="input-group input-group-sm">
                        <SearchByTitle OnSearchChanged="SearchByTitle" />
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-md-6 -->
        <Deals dealsOfTheDayList="@allOffersList" />
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</div>


@code {
    List<string> lstContent = new List<string> { "All Offers" };
    protected List<DealsOfTheDayModel> allOffersList;
    private static List<DealsOfTheDayModel> readonlyDealsOfTheDayList { get; set; }

    string filterByName = string.Empty, filterByValue = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        NavManager.TryGetQueryString<string>("filterByName", out filterByName);
        NavManager.TryGetQueryString<string>("filterByValue", out filterByValue);

        allOffersList = await OfferAdapter.GetAllOffers(filterByName, filterByValue);
        readonlyDealsOfTheDayList = allOffersList;
        appState.SetdealsOfTheDay(allOffersList);
        appState.SetPageTitle("All Offers");
        appState.SetMetaTitle("LootLo Online: All Offers");
        appState.SetMetaDescription("LootLo Online: All Offers");
    }

    private async Task SearchByTitle(string searchTerm)
    {
        if (!string.IsNullOrEmpty(searchTerm))
        {
            allOffersList = readonlyDealsOfTheDayList.Where(x => x.title.Contains(searchTerm) || x.name.Contains(searchTerm)).ToList();
        }
        else
        {
            allOffersList = readonlyDealsOfTheDayList;
        }
    }

    public void Dispose()
    {
        appState.OnChange -= StateHasChanged;
    }
}
