@inject AppStateService appState
@inject IHttpContextAccessor httpContextAccessor
@implements IDisposable
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="../Images/logo.png" alt="LootLo Online Logo" class="brand-image img-circle elevation-3 lazy_load" data-original="../Images/logo.png" style="opacity: .8" lazyload="on">
        <span class="brand-text font-weight-light"> Online</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="dist/img/user2-160x160.jpg" data-original="dist/img/user2-160x160.jpg"  class="img-circle elevation-2 lazy_load" alt="User @appState.IpAddress" lazyload="on">
            </div>
            <div class="info">
                <a href="#" class="d-block">@appState.IpAddress</a>
            </div>
        </div>


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column text-sm nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="/" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Offers
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/alloffers" class="nav-link" >
                                <i class="far fa-circle nav-icon"></i>
                                <p>All Offers</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/dealsoftheday" class="nav-link" >
                                <i class="far fa-circle nav-icon"></i>
                                <p>Deals of the Day </p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>



@code {


    private bool collapseNavMenu = true;
    private string IpAddress;
    private string macAddress { get; set; }
    private string NavMenuCssClass => collapseNavMenu ? "nav-link " : "nav-link active";

    private void ActiveNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        //if (httpContextAccessor.HttpContext.Connection != null)
        //{
        //    IpAddress = httpContextAccessor.HttpContext.Connection.RemoteIpAddress != null ? httpContextAccessor.HttpContext.Connection.RemoteIpAddress.ToString() : string.Empty;
        //    appState.SetIP(IpAddress);
        //}

        //macAddress = Utility.GetMacAddress();
        //  IpAddress = httpContextAccessor.HttpContext.Connection?.RemoteIpAddress.ToString();
    }
    protected override async Task OnParametersSetAsync()
    {
        // IpAddress = httpcontext.HttpContext.Connection.RemoteIpAddress != null ? httpcontext.HttpContext.Connection.RemoteIpAddress.ToString() : string.Empty;
    }

    public void Dispose()
    {
        // appState.OnChange -= StateHasChanged;
    }
}
